<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>City</title>
    <link href="assets/index.CSS", rel="stylesheet", type="text/css"/>


  
  </head>
  <body>
    <main>
      <div>
        <section class="grid1">
          <div class="box title">
            <nav>
              <div class="nav1">
                <span class="span1">City</span>
              </div>
            </nav>

          </div>
  
          <div class="box menu">
            <div class="toolbox">
              <div class="item1">
                <div class="itemTitle">
                  Select Model
                </div>
                <form id="pick" action="/pick" method="post">
                  <div class="sub1 sub1item1">
                    <input type="radio" name="model" id="radio1" value="InfGen" required="required" <%= infgen  %>/>
                    <label for="radio1">InfGen</label>
                  </div>
                  <div class="sub1 sub1item2">
                    <input type="radio" name="model" id="radio2" value="Completion" <%= completion  %>/>
                    <label for="radio2">Completion</label>
                  </div>
                  <div class="sub1 sub1item3">
                    <input type="radio" name="model" id="radio3" value="FillGrid" <%= fillgrid  %>/>
                    <label for="radio3">Fill Grid</label>
                  </div>
                </form>
              </div>


              <div class="item2">
                <form id="pick" action="/pick" method="post">
                  <button type="submit" formaction="/pick" formmethod="post" class="submitButton" form="pick">
                    <div class="buttonText">
                        Pick Another City
                      </div>
                  </button>
                </form>
              </div>

              <div class="item1">
                <div class="itemTitle">
                  Select Area
                </div>
                <div class="sub2">
                  Drag the grey box to select area for generation
                </div>
                
              </div>

              <div class="item2">
                <form id="pick" action="/pick2" method="post">
                  <button type="submit" formaction="/pick2" formmethod="post" class="submitButton" form="pick">
                    <div class="buttonText">
                        Re-select Area
                      </div>
                  </button>
                </form>
              </div>
              

              <div class="item2">
                <form id="pick" action="/cut" method="post">
                  <button type="submit" formaction="/cut" formmethod="post" class="submitButton" form="pick">
                    <div class="buttonText">
                        Generate
                      </div>
                  </button>
                </form>
              </div>
            </div>
          </div>

              
            
          <div class="box demo">
            <div class="container2">
              <img src="presets/<%= id %>.jpg" class="placeholder">
            </div>
          </div>

          <div class="box history">
            <div class="historybox">
              <div class="container3">
                <img src="presets/<%= id %>.jpg" class="placeholder">
              </div>

              <div class="container3">
                <img src="presets/<%= id %>.jpg" class="placeholder">
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>



  </body>
</html>


